<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<el-ignored>true</el-ignored>
  	</jsp-property-group>
  </jsp-config>
  
  
  <listener>
  	<listener-class>demo.listeners.newListener</listener-class>
  </listener>
  
  
  <session-config>
  		<session-timeout>15</session-timeout>
  </session-config>
  
  
  <context-param>
    <param-name>connection_str</param-name>
    <param-value>aabbcc</param-value>
  </context-param>
  <servlet>
    <servlet-name>Hello World</servlet-name>
    <servlet-class>demo.servlet.helloWorld</servlet-class>
    <init-param>
      <param-name>song</param-name>
      <param-value>Until You </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello World</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>demo.servlet.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>file_name_jsp</servlet-name>
    <jsp-file>/temp/demo.jsp</jsp-file>
    <init-param>
    	<param-name>demotest</param-name>
    	<param-value>demo content.</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>file_name_jsp</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>